<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="">
            <div class="form-area">
                <form role="form">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Asking Form</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" id="q" name="q" placeholder="Query" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="i" name="i" placeholder="Country" required>
                    </div>

                    <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Ask Me</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>