<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<!-- <form role="form" method="GET" action="https://hackathontravelgo.herokuapp.com/trivago/ski/l/us"> -->

<body>
    <div class="container">
        <div class="">
            <div class="form-area">
                <form role="form" method="GET" action="http://localhost:3000/trivago">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Asking Form</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" id="qr" name="qr" placeholder="Query" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="l" name="l" placeholder="Country" required>
                    </div>

                    <button class="btn btn-primary pull-right" type="submit">Ask Me</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>